body{
  background-color: #EBEFF3;
}
.p-100 {
  padding: 80px 40px;
}
@media screen and (max-width: 1024px) {
  .p-100 {
    padding: 60px 30px;
  }
}
@media screen and (max-width: 768px) {
  .p-100 {
    padding: 50px 20px;
  }
}
@media screen and (max-width: 580px) {
  .p-100 {
    padding: 40px 20px;
  }
}

/* -----------------Call And Whatsapp Button--------------------- */
.quick_contact a {
  position: fixed;
  width: 50px;
  height: 50px;
  left: 18px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 4;
  transition: transform 0.5s ease;
}
.qwhtsapp {
  bottom: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25d366;
}
.qcall {
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #df1119;
}
.quick_contact_icon {
 
}
.quick_contact a:hover {
  transform: scale(1.1);
}

.my-float{
	margin-top:16px;
}
/* Base styles for header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #EEEEEE;
  z-index: 1000;
}

.logo img {
  max-width: 150px;
  margin-left: 50px;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin-right: 50px;
}

.nav-links a {
  text-decoration: none;
  font-size: 14px;
}

 .phone-number {
  border: 1px solid #df1119;
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.phone-number a{
  font-size: 18px;
  color: #df1119;
}
.phone-number i{
  font-size: 18px;
  color: #df1119;
}
.menu-container p i{
  font-size: 30px;
  margin-right: 10px;
}
.menu-container p{
  font-size: 18px;
}

.menu-icon {
  display: none; /* Hidden by default */
  font-size: 24px;
  cursor: pointer;
}
/* General submenu styles */
.menu-container .submenu {
  display: none;
  top: 100%; /* Position below the menu container */
  left: -80px;
  z-index: 10;
  min-width: 250px;
  border-top: 3px solid #04223E ;
}

/* Show the submenu on hover */
.menu-container:hover .submenu {
  display: block;
}

/* Styling for submenu links */
.menu-container .submenu a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
  border-bottom: 1px solid #ddd;
}

/* Remove border for the last item */
.menu-container .submenu a:last-child {
  border-bottom: none;
}

/* Add hover effect for submenu links */
.menu-container .submenu a:hover {
  background-color: #04223E;
  color: #fff !important;
}
@media (max-width: 768px) {
  .logo img {
    max-width: 110px;
    margin-left: 0px;
  }
  .nav-links {
    display: flex;
    gap: 20px;
    margin-right: 0px;
  }
  .menu-container .submenu {
    display: none;
    top: 100%; /* Position below the menu container */
    left: -80px;
    z-index: 10;
    min-width: 200px;
    border-top: 3px solid #04223E ;
  }
}
/* Responsive Styles */
/* @media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  .logo img {
    max-width: 80px;
  }
} */


/* ---------End Header--------- */
/* ----------Hero Slider------------- */
.Hero-image-container {
  position: relative;
}
.Hero-image-container img{
  width: 100%;
  height: 70vh;
  object-fit: cover;
}
.Hero-image-container .overlay {
  background: rgba(0, 0, 0, 0.5); 
}

.Hero-image-container .content h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.Hero-image-container .content p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.Hero-image-container .content .ContactUs {
  font-size: 1rem;
  font-weight: 600;
  background-color: #df1119;
  color: white;
  border: none;
  padding: 0.4rem 1.5rem;
}
.citybtn{
  font-size: 1rem;
  font-weight: 600;
  background-color: #df1119;
  color: white;
  border: none;
 
}
.citybtn:hover{
  font-size: 1rem;
  font-weight: 600;
  background-color: #df1119;
  color: white;
  border: none;
 
}
@media (max-width: 768px) {
.Hero-image-container img{
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
.Hero-image-container .content h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.Hero-image-container .content p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
  /* =====Service We Offer start==== */
}
.main-topic{
  color:#df1119 ;
}
.service-icon-container{
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
}
.service-off-title{
  font-size: 14px;
}
.service-off-para{
  display: inline-block;
  background-color: #df1119;
  text-align: center;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  padding: 3px 8px;
}
/* =====Incredible Solutions start==== */
.Incrible-solutuion{
  background-color: #E5E7EA;
  padding: 20px;
}
.Incrible-solutuion h4{
  color: #04223E;
}
.Incrible-solutuion{
  color: #304364;
}
.Incrible-solutuion-icon-container{
  width: 4rem;
  height: 4rem;
  padding: 10px;
  background-color: #df1119;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
}
.booknow-btn{
  background-color: #04223E;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 600;
}
.booknow-btn:hover{
  color: #fff;
}

/* =====How it works start==== */
.how-it-works-content{
  padding-left: 10px;
}
.how-it-works-content p{
  margin-top: 10px;
}
.how-it-works-content h6 {
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: #04223E;
}

.how-it-works-content h6::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 3px; /* अंडरलाइन की मोटाई */
  background-color: #04223E; /* अंडरलाइन का रंग */
  bottom: -5px; /* टेक्स्ट से दूरी */
  left: 0;
}



/* // */
.service-card {
  position: relative;
  background: #fff;
  text-align: center;
  padding: 0px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  overflow: hidden;
  margin-top: 10px;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-image {
  height: 200px;
  object-fit: cover;
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.service-icon {
  position: absolute;
  top: 110px;
  left: 20%;
  margin: 90px auto -12px;
  transform: translate(-50%, -50%);
  background: #df1119;
  color: #fff;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  border: 4px solid #fff;

}
@media (max-width: 768px) {
  .service-icon {
    position: absolute;
    top: 110px;
    left: 20%;
    margin: 90px auto -12px;
    transform: translate(-50%, -50%);
    background: #df1119;
    color: #fff;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    border: 4px solid #fff;
  
  }
}
.service-icon i{
  color: #fff;
}
.service-title{
  margin-top: 30px;
  text-align: start;
  color: #04223E;
  font-weight: 700;
}
.service-text{
  text-align: start;
}
.feature-card {
  background-color: #fff;
  padding: 30px;
  text-align: center;
  transition: 0.3s;
  margin-top: 50px;
}

.feature-card:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.feature-icon {
  width: 80px;
  height: 80px;
  background-color:#fff ;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -68px auto -12px;
  position: relative;
  z-index: 10;
}

.feature-icon img {
  width: 80px;
  height: 80px;
 border-radius: 50%;
}
.stars {
  color: #fbc02d;
 

}




.Why-omexa-img img{
  width:150px;
  height:150px;
  border-radius: 50%;
  object-fit: cover; 
  margin-bottom: 10px;

}
/* ----------Hero Slider------------- */
/* .hero_section{
  height: 100vh;
}

.hero-image-container {
    position: relative;
}

.hero-image {
    height: 70vh;
    object-fit: cover;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.hero-content {
    position: absolute;
    top: 10%; 
    width: 100%;
    z-index: 2; 
    text-align: center;
}

.book-section {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
    z-index: 2;
    text-align: center;
    padding: 1rem;
}

.form-container {
    width: auto;
    z-index: 3;
    background: white;
    color: black;
    border-radius: 10px;
    border-top-left-radius: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: start;
  }

 
  .Hero_Form-label{
    font-size: 13px;
  }
.Hero_Form-input{
    font-size: 10px;
}
@media (max-width: 768px) {
  .book-section {
    position: absolute;
    bottom:0%;
    left: 0%;
    transform: translateX(-50%);
    transform: translatey(50%);
      z-index: 2;
      text-align: center;
      padding: 1rem;
  }
  .hero_section{
    height: 140vh;
  }
  .form-container {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .hero-content h2{
font-size: 30px;
  }
  .hero-image {
    height: 90vh;
    object-fit: cover;
}
} */

/* ------------End Hero Section------------- */
/* -----------------Form------------------- */
.form-container {
  margin: 50px auto;
  top: 80px;
  padding: 20px;
  background-color: #04223E;
  border-radius: 8px;
  z-index: 1;
}
.form-control{
  border: 1px solid black !important;
  border-radius: 5px;
  padding: 10px;
}
.btn-orange {
  background-color:#df1119;
  color: #fff;
  padding: 10px;
  transition: .5s;
}
.btn-orange:hover {
  background-color: #3E3E40;
  color: #df1119;
  background-color:#fff;
  border: 2px solid #df1119;
}

/* -----------------Form------------------- */
/* ------------Start  Services Section------------- */

.service_card{
  padding: 20px;
  border-radius: 10px;
  background-color:#EEF2FF;
}

/* ------------End  Services Section------------- */
.Service-area-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
 
}
.Service-area-list li{
  padding-right: 20px;
}
.Service-area-list li p{
  background-color: #fff;
  padding: 5px;
}
.Service-area-list li::marker {
  color: #D6EAFF; /* Disc color */
}
/* ----------------New Footer Start----------------- */
:root {
  --primary-color: #04223E;
  --white-color: #FFFFFF;
  --dark-divider-color: #FFFFFF24;
}
.main-footer {
  background: url(assets/footer-bg.png), var(--primary-color);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 100px 0 0;
}
.about-footer {
  margin-right: 20px;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  width: 100%;
  max-width: 145px;
}
.about-footer-content p {
  color: var(--white-color);
  margin-bottom: 0;
}
.footer-links h3 {
  font-size: 20px;
  color: var(--white-color);
  text-transform: capitalize;
  margin-bottom: 20px;
}
.footer-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-links ul li {
  color: var(--white-color);
  text-transform: capitalize;
  line-height: 1.5em;
  margin-bottom: 12px;
}
.footer-links ul li a {
  display: inline-block;
  color: inherit;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.footer-contact-item {
  display: flex
;
  align-items: baseline;
  margin-bottom: 20px;
}
.footer-contact-item .icon-box {
  margin-right: 10px;
}
.footer-contact-item .icon-box img {
  width: 100%;
  max-width: 20px;
}
.footer-contact-content {
  width: calc(100% - 30px);
}
.footer-contact-content p {
  color: var(--white-color);
  margin-bottom: 0;
}
.footer-contact-content p a {
  color: inherit;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}
.footer-copyright {
  display: flex
;
  gap: 15px 20px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--dark-divider-color);
  padding: 20px 0 40px;
  margin-top: 60px;
}
.footer-copyright-text p {
  color: var(--white-color);
  margin-bottom: 0;
}
.footer-social-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-links ul li {
  display: inline-block;
  margin-right: 20px;
}
.footer-social-links ul li a {
  width: 40px;
  height: 40px;
  color: var(--primary-color);
  background: var(--white-color);
  border-radius: 50%;
  display: flex
;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
@media only screen and (max-width: 991px) {
  .main-footer {
      padding: 50px 0 0;
      margin-bottom: 0px;
  }
}
@media only screen and (max-width: 991px) {
  .about-footer {
      margin: 0 0 30px 0;
  }
}
@media only screen and (max-width: 991px) {
  .footer-links {
      margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-copyright {
      flex-direction: column;
      padding: 15px 0;
      margin-top: 0;
  }
}
/* ----------------footer_list----------------- */
.footer_list{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer_list li a{
  text-decoration: none;
  color:#000 ;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .footer_list{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
  }
  .footer_list li{
    margin: 5px;
  }
}
.social-icons_footer a {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  text-align: center;
  background-color: #2e3542;
  border: none;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
  transition: background-color 0.3s ease;
}
.socIcin_Footer {
  color: #fff;
  transition: 0.3s;
}
.footer-icon{
  font-size: 2.5rem;
  color: #e65c00;
}
/*---thank-Section-Start----*/

.thank {
  text-align: center;
  height: 100vh;
  width: 100%;
  margin-top: 0px;
}
.thank img {
  width: 60%;
}
.thank ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.thank ul li a {
  height: 45px;
  width: 45px;
  background: #ef2445;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .thank {
    margin-top: 80px;
  }
}

@media screen and (max-width: 768px) {
  .thank {
    margin: 50px 0px;
    height: auto;
  }
}

@media screen and (max-width: 580px) {
  .thank {
    margin: 20px 0px;
  }
  .thank img {
    width: 70%;
  }
}
.sec-btn {
  display: inline-block;
  padding: 8px 25px;
  background-color: #df1119;
  color: #fff;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 16px;
  font-variant: small-caps;
  text-decoration: none;
}
.sec-btn:hover {
  background-color: #04223E;
  color: #fff;
}
.social li a {
  text-decoration: none;
}
/*---thank-Section-end----*/
/*---About-Page-Start----*/
.service_Section {
  position: relative;
  width: 100%;
  height: 300px; /* Adjust height as needed */
  overflow: hidden;
}

.service_Section img {
  width: 100%;
  height: 100%;
 background-size: cover;
}

.service_Section_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: start;
}

.service_Section_content {
  color: #092a49;
  text-align: start;
  padding-left: 50px;
}

.service_Section_content h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;

}

.service_Section_content p {
 
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 1.2rem;
  display:inline-block;
  
}
@media (max-width: 768px) {
  .service_Section {
    position: relative;
    width: 100%;
    height: 150px; /* Adjust height as needed */
    overflow: hidden;
  }
  .service_Section_content h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
  }
  
  .service_Section_content p {
  
    margin-top: 5px;
    padding: 4px 10px;
    font-size: .8rem;
    
  }
}
/* ------Why Choose Section Start------ */
.accordion-button:not(.collapsed) {
  background-color: #092a49 !important; /* बैकग्राउंड काला */
  color: #fff !important; /* टेक्स्ट सफेद */
}

/* ------Why Choose Section End------ */
/* ------Counter Section Start------ */
.counter {
  font-size: 60px;
  color: #092a49;
  font-weight: 700;
}
.plus {
  color: #092a49;
}
/* ------Countr Section End------ */
/* ------Ac Section Start------ */
.ac-section{
    background-image: url('assets/div-bg1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
/* ------Countr Section End------ */
/* ------Testimonials Section Start------ */

.feature-card {
    background-color: #fff;
    padding: 30px;
    text-align: start;
    transition: 0.3s;
    margin-top: 50px;
    position: relative;
  }
  
  .feature-card:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  
  .stars {
    color: #fbc02d;
   
  
  }
  
/* ------Testimonials Section End------ */
/*---About-Page-End----*/
/* ------Carrer PAge Start------ */
.service-card {
  background-color: #092a49;
  padding: 20px;
  text-align: start;
}
.service-card img {
  border-radius: 10px;
}
.service-card h4{
    text-transform: uppercase;
    font-size: 21px;
}
.bookNow-btn {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}
.bookNow-btn:hover {
  color: #fff;
}
.form-container{
  background-color: #122a48;
  color: white;
 }
 .form_btn {
  padding: 10px 20px;
  background-color: #df1119;
  border: none;
  color: #fff;
  font-weight: 700;
}